# Ignore node_modules directory
node_modules/

# Ignore log files and environment-specific files
*.log
.env

# Ignore built files and directories
dist/
build/
out/

# Ignore dependency directories
bower_components/
jspm_packages/

# Ignore macOS directory attributes
.DS_Store
